@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100* */
}



body {
    background-image: linear-gradient(to right,#22BABB,#9EF8EE)
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1c4949bb;
    width: 600px;
    padding: 10px;
    margin: auto
}

h1 {
    color:#fc652e;
    text-align: center;
    text-shadow: 5px 5px 5px, #F24405;
}

h2 {
    color:#FA7F08
}

p {
    text-align: justify
}