@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
}

main {
    height: 100vh;
    margin: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

div {
    width: 150px;
    height: 150px;
}

div.q01 {
    background-color: darkorange;
    flex-grow: 1;
    align-self: flex-start
}

div.q02 {
    background-color: rgb(70, 29, 29);
    flex-grow: 1;
    align-self: flex-end;
}

div.q03 {
    background-color: yellow;
    flex-grow: 3
}