@charset "UTF-8";

/* Every Other Media */

/* Typical Device Breakpoints 
-----------------------------
Pequenas Telas: até 600px
Celular: 600px - 768px
Tablet: 768px - 992px
Desktop: 992px - 1200px
Grandes Telas: 1200px+
*/

@media screen and (min-width: 992px) and (max-width: 1500px) {
    i.material-icons {
        display: none;
    }

    header > menu {
        display: inline-block;
        text-align: left;
    }
    header > menu > ul > li {
        display: inline-block;
        padding: 5px 12.5px;
        font-size: 1.25em;
    }
}

@media screen and (min-width: 1500px) {
    i.material-icons {
        display: none;
    }
    header > menu {
        display: inline-block;
        text-align: left;
    }
    header > menu > ul > li {
        display: inline-block;
        padding: 5px 25px;
        font-size: 1.5em;
    }
    main {
        width: 700px;
    }
}